.heading{
    color: aquamarine;
}

.img-style{
    width: 200px; 

}

.div{
  margin: 10px;
  width: 200px;
  border: 2px solid #ddd;  
  box-shadow: 2px 2px 5px pink;
  background-color: rgb(240, 238, 239);
}

h4,p{
    margin: 2px 0px 0px 5px;
    color: rgb(150, 73, 73);

}
.flex{
    display: flex;
    flex-wrap: wrap;
}