.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(99, 96, 96);
    border-radius: 10px;
    background-color: #ebd2d2;
    height: 50px;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(59, 49, 49);
}

.header ul{
    display: flex;
    list-style-type: none;
    margin: auto;
    padding-top:10px ;
    justify-content: space-around;
    width: 450px;
    
}

.header ul li{
    padding:1px ;
    
}

.header .link h2{
    margin: 0;
}

.header .link{
    font-size: 25px;
}

.img{
    background-color: #e1caca;
    border-radius: 55px;
    background-color: #d29797;
    padding: 4px;
}

.College .ink{
    margin: 10px;
    font-size: 20;
    
}
