.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(99, 96, 96);
    border-radius: 5px;
    background-color: #b79595;
    height: 40px;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.header ul{
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: space-around;
    width: 200px;
    
}

.header ul li{
    padding:1px ;
}

.header .link h2{
    margin: 0;
}

.header .link{
    font-size: 20px;
}

.img{
    background-color: #e1caca;
    border-radius: 55px;
    background-color: #d29797;
    padding: 4px;
}