.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid rgb(85, 81, 82);
    background-color: #e1caca;
}

body{
    margin: 0;
    padding: 0;
}

.header ul{
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: space-around;
    width: 200px;
    
}

.header ul li{
    padding:1px ;
}

.header .link h2{
    margin: 0;
}

.header .link{
    font-size: 20px;
}

.img{
    background-color: #e1caca;
    border-radius: 55px;
}