/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    font-size: larger;

    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
}

.div {
    border: 2px solid rgb(129, 122, 122);
    border-radius: 12px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: #111;
}


.div input {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    width: 60%;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    
}

.div button {
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    width: 30%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    
}



.div input {
    background-color: #222;
    color: white;
    outline: none;
}

.div input:focus {
    border: 2px solid rgb(46, 34, 19);
     transition: 0.3s ease-in-out;
}

.div .error{
    border: 2px solid rgb(226, 11, 11);
     transition: 0.3s ease-in-out;
}

.div button {
    background-color: rgb(216, 171, 111);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.div button:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
    transform: none;
}

.div button:hover {
    background-color: rgb(175, 105, 20);
    transform: scale(1.3);
}
